$font: Helvetica, sans-serif;
$preto: #000;
$small: 320px;
$large: 1024px;
$all-box: 90%;

// Mixins
    @mixin normal {
        float: left;
        width: 100%;
        height: auto;
        position: relative;        
    }

    @mixin normal-box {
        width: $all-box;
        margin: 0 auto;
    }
// END Mixins

body {
    font: 100% $font;
    background-color: $preto;

    @media screen and (max-width: $small) {
        background-color: $preto;
    }
}

.main {
    @include normal;
    .box {
        @include normal-box;
    }    
}


// MEDIA QUERIES
@media screen and (max-width: $small) {
    body {
        background-color: $preto;
    }
}

@media screen and (min-width: $large) {
    body {
        background-color: #fff;
    }
}
