// Imports
    @import 'modules/_colors';
    @import 'modules/_extends';
    @import 'modules/_fonts';
    @import 'modules/_variables';
// END Imports

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    font: 100% $font;
}

img {
    max-width: 100%;
}

img:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

.main {
    @extend .normal;
    .box {
        @extend .normal-box;
    }
}

.all-center {
    #position: absolute;
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.center {
    #position: relative;
    #top: -50%;
}

.slicknav_menu {
    display: none;

    @media screen and (min-width: $mobile-medium) {
        display: none;
    }

    @media screen and (max-width: $mobile-medium) {
        display: block;
    }
}

// SECTION ALL - Seção geral
    .all {
        min-height: 100%;
        position: relative;
        width: 100%;
        float: left;

        .content {
            padding-bottom: 100px;
        }
    }
// END SECTION ALL

// HEADER
    //MENU

        header {
            @extend .normal;
            .nav {
                width: 100%;
                text-align: center;
                padding: 0;

                @media screen and (max-width: $mobile-medium) {
                    display: none;
                }

                li {
                    display: inline-block;
                    cursor: pointer;
                    
                    &:hover {
                        ul {
                            visibility: visible;
                            opacity:1;
                            transition-delay:0s;

                            li {
                                &:hover {
                                    ul {
                                        display: block;
                                        visibility: visible;
                                        opacity:1;
                                        transition-delay:0s;
                                    }
                                }
                                ul {
                                    position: absolute;
                                    visibility: hidden;
                                    opacity:0;
                                    transition:visibility 0s linear 0.5s,
                                    opacity 0.5s linear;
                                }
                            }
                        }
                    }

                    ul {
                        position: absolute;
                        visibility: hidden;
                        opacity:0;
                        transition:visibility 0s linear 0.5s,
                        opacity 0.5s linear;
                        padding-left: 0;

                        li {
                            display: block;
                            position: relative;
                            &:hover {
                                ul {
                                    visibility:visible;
                                    opacity:1;                       
                                }                          
                            }

                            ul {
                                top: 0;
                                left: 60px;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    // END MENU
// END HEADER

// FOOTER 
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $footer-height;
        background-color: #ccc;

        @media screen and (max-width: $mobile) {

        }

        @media screen and (min-width: $large) {

        }
    }
// END FOOTER

// MEDIA QUERIES
