
// Fonts
	$font: Helvetica, sans-serif;
// END Fonts

// Boxes
	$small: 320px;
	$small-medium: 480px;
	$large: 1024px;
	$all-box: 90%;
// END Boxes

// Elements
	$footer-height: 100px;
// END Elements

// Properties
	.normal {
	    float: left;
	    width: 100%;
	    height: auto; 
	}

	.normal-box {
	    width: $all-box;
	    margin: 0 auto;	
	}
// END Properties
