// Imports
	@import '_variables';
// END Imports

// Extends
	.normal {
	    float: left;
	    width: 100%;
	    height: auto; 
	}

	.normal-box {
	    width: $large;
	    margin: 0 auto;

	    @media only screen and (max-width: $large) {
	    	width: $all;
	    }	
	}

	.normal-second {
		float: left;
		width: 100%;
	}

	.back {
		background-repeat: no-repeat;
		background-image: $sprite;
	}

	.sizing {
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
				box-sizing: border-box;				
	}

	.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $footer-height;		
	}
// END Extends