@import '_colors';

// Mixins
	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	     -moz-border-radius: $radius;
	      -ms-border-radius: $radius;
	          border-radius: $radius;

		@content;
	}

	@mixin fade {
		-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
				-ms-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
						transition: all 0.2s linear;
	}

	@mixin any($property, $expression) {
	  #{$property}: -moz-calc(#{$expression});
	  #{$property}: -webkit-calc(#{$expression});
	  #{$property}: calc(#{$expression});
	}

	@mixin calcWidth($expression) {
		width: calc( #{$expression} );
        width: -webkit-calc( #{$expression} );
        width: -moz-calc( #{$expression} );
	}

	@mixin placeholder($property , $expression) {
		#{$property}: #{$expression} !important;

    &::-webkit-input-placeholder {
        #{$property}: #{$expression};
    }

    &:-moz-placeholder {
        #{$property}: #{$expression};
    }

    &::-moz-placeholder {
        #{$property}: #{$expression};
    }

    &:-ms-input-placeholder {
        #{$property}: #{$expression};
    }
	}

	@mixin textshadow($left : 2px, $top : 2px, $degrade : 9px, $color : $preto) {
		-webkit-text-shadow: $left $top $degrade $color;
		  -moz-text-shadow: $left $top $degrade $color;
		    text-shadow: $left $top $degrade $color;
	}
// END Mixins
