
// Boxes
	$mobile: 480px;
	$tablet: 768px;
	$large: 1024px;
	$all: 90%;
// END Boxes
	
	$vpath= '/frontend/assets';
	$sprite: url('#{$vpath}/img/sprite.png');

// Elements
	$footer-height: 100px;
// END Elements
